
@{
    ViewBag.Title = "NewUserLanding";
}


<div class="row">
    <div class="col-md-12 text-center">
        <h2>New User Landing</h2>
        <form action="/Accounts/CreateAcc" method="post">
            <button type="submit" class="btn btn-primary p-2"> Link to recive payments</button>
        </form>
    </div>
</div>
